body{
    background: rgba(98, 164, 224);
    /*vertical-align: middle;
    */
    margin: 0 auto;
}

h2{
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.Individual{
    display: inline-block;
}

.Indiv230{
    display: inline-block;
}

.Slots{
    display: inline-block;
}

.Slots230{
    display: inline-block;
}

.Duels{
    display: inline-block;
}

.Duels15{
    display: inline-block;
}
