body{
    background: rgba(98, 164, 224);
    /*vertical-align: middle;
    */
    margin: 0 auto;
}

h2{
    color: white;
    font-family:'Courier New', Courier, monospace;
}

br {
    line-height: 1px;
 }

.Individual{
    display: inline-block;
    margin-left: 30px;
}

.Indiv230{
    display: inline-block;
    margin-left: 50px;
}

.Slots{
    display: inline-block;
    margin-left: 30px;
}

.Slots230{
    display: inline-block;
    margin-left: 120px;
}

.Duels{
    display: inline-block;
    margin-left: 30px;
}

.Duels15{
    display: inline-block
    margin-left: 10px;
}
